In [7]:
#----------------------------------------------------------------------------------------------------------------------------------------------------------------
# Components
#----------------------------------------------------------------------------------------------------------------------------------------------------------------
import json
def txt_load(filename):
    l = []
    with open(filename, "r") as f:
        for line in f:
            l.append(line.rstrip())
    return l

def txt_dump(filename, item):
    with open(filename, "w") as f:
        for line in item:
            f.write(line + "\n")
    print("item saved to txt file \'"+ str(filename) +"\'")

def json_load(filename):
    with open(filename, "r") as f:
        j = json.load(f)
    return j

def json_dump(filename, item):
    with open(filename, "w") as f:
        json.dump(item, f)
    print("item saved to json file \'"+ str(filename) +"\'")

In [10]:
#----------------------------------------------------------------------------------------------------------------------------------------------------------------
# 国名とUrlのリストをテキストファイルより読み込み
#----------------------------------------------------------------------------------------------------------------------------------------------------------------
ap = "/Users/kokimac/卒論/c.txt"
bp = "/Users/kokimac/卒論/country-list.txt"

a = txt_load(ap)
b = txt_load(bp)

In [14]:
l = []
for item in a:
    if not item in b:
        l.append(item)
print(l)

['Bonaire, Sint Eustatius and Saba', 'Bouvet Island', 'Curaçao', 'French Southern Territories', 'Heard Island and McDonald Islands', 'Sint Maarten (Dutch part', 'South Georgia and the South Sandwich Islands', 'South Sudan']

In [8]:
#----------------------------------------------------------------------------------------------------------------------------------------------------------------
# World Bank APIデモ
#----------------------------------------------------------------------------------------------------------------------------------------------------------------

import wbdata
indicator = {"NY.GDP.MKTP.KD.ZG":"GDP"}
country = "all"
d =  wbdata.get_dataframe(indicator, country=country)
d

                                       GDP
country                     date
Africa Eastern and Southern 2021  4.303667
                            2020 -2.886856
                            2019  2.025941
                            2018  2.485244
                            2017  2.557135
...                                    ...
Zimbabwe                    1964 -1.106172
                            1963  6.244345
                            1962  1.434471
                            1961  6.316157
                            1960       NaN

[16492 rows x 1 columns]

In [10]:
import pandas as pd
d.to_csv("wbdata_sample.csv")